extends ../layout.pug
block style 
  style.
    .miniDice{
      max-width: max-content;
      padding: 0.5rem;
      margin: 0.5rem;
    }
    .setSection{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    main{
      max-width: max-content;
    }
    main > :not(.setSection){
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
    }
block content
  h1= `${guild.name} series`
  h4 Last Winner 
    span= guild.lastWinner.name

  h4 Last Messenger 
    span= guild.lastMessenger.name
  ul
  each setNum in setNums
    li: a(href=`/series/${guild.id}/${setNum}`) Set ##{setNum}
