doctype html
html
  head 
    title Dicebags 
    link(
      rel='stylesheet'
      href='https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css'
      media='screen and (prefers-color-scheme: dark)'
    )
    link(
      rel='stylesheet'
      href='https://unpkg.com/bulmaswatch/default/bulmaswatch.min.css'
      media='screen and (prefers-color-scheme: light)'
    )

  body 
    nav.navbar
      .navbar-brand
        a.navbar-item(href="#") DiceBags
        a.navbar-burger(role="button", data-target="navbarData", onclick="toggleActive()") 
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      menu#navbarData.navbar-menu
        .navbar-end
          a.navbar-item(href="#") 📮 Guilds
          a.navbar-item(href="#") 🎲 Dice

    main(style={
        'margin-top': '1rem',
        'max-width': '90%',
        'margin-left': 'auto',
        'margin-right': 'auto'
      })
      block content 

script.
  function toggleActive () {
    const elem = document.getElementById('navbarData')
    elem.classList.toggle('is-active')
  }