doctype html
html
  head 
    block title
      title Dicebags 
    link(
      rel='stylesheet'
      href='/static/dark.css'
      media='screen and (prefers-color-scheme: dark)'
    )
    link(
      rel='stylesheet'
      href='/static/light.css'
      media='screen and (prefers-color-scheme: light)'
    )
    link(
      rel='stylesheet'
      href='/static/paper.css'
    )
    style.
      main{
        margin-top: 5rem;
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
      }
    block style

  body 
    nav.border.fixed.split-nav
      .nav-brand
        h3: a.navbar-item(href="#") DiceBags
      .collapsible 
        input(type="checkbox" id="collapsible1" name="collapsible1")
        label(for="collapsible1") +
        .collapsible-body
          ul.inline
            li: a(href="#") 📮 Guilds
            li: a(href="#") 🎲 Dice

    main
      block content 