extends ../layout.pug
block style
  style.
    .dice_list{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
    }
    .dice_list_item{
      width: max-content;
      padding: 0.5rem;
    }
    .dice_details > section > span{
      float: right;
      text-align: right;
      text-transform: capitalize;
    }
    .faces > span {
      overflow: clip;
      max-width: 18ch;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    main{
      max-width: max-content;
    }

block content
  h1.title(style={'max-width':'1140px','margin-left':'auto','margin-right':'auto'}) #{dice.docs[0].owner}'s Dice
  .dice_list
    each die in dice.docs
      .dice_list_item
        a(href=`/dicebags/${die.owner}/${die._id}`)
          article.paper.card
            .card-body
              h4.card-title= die.name
              h5.card-subtitle= die.hash
              .dice_details
                section
                  b Face Count 
                  span= die.faceCount
                section 
                  b Size 
                  span= die.size
                section 
                  b Gimmick 
                  span= die.gimmick
                section 
                  b Color 
                  span= die.color
                section 
                  b Material 
                  span= die.material
                section 
                  b Dice Class 
                  span= die.specialType
                section.faces
                  b Faces 
                  span= die.faces.join(', ')