extends ../layout.pug

block content
  .is-pulled-left
  .level 
    .level-left
      ul 
        li
          h4.title Guild 
            span.subtitle= dice.guild
        li
          h4.title Series 
            span.subtitle= dice.series
        li
          h4.title Number 
            span.subtitle= dice.number
        li
          h4.title Owner 
            span.subtitle= dice.owner
    .level-right
      article.message
        .message-header 
          p Dicey Details
        .message-body
          ul
            li 
              b Face Count 
              span= dice.faceCount
            li 
              b Size 
              span= dice.size
            li 
              b Gimmick 
              span= dice.gimmick
            li 
              b Color 
              span= dice.color
            li 
              b Material 
              span= dice.material
            li 
              b Dice Class 
              span= dice.specialType
            li
              b Faces 
              span= dice.faces.join()
            li 
              p= dice.hash
  ul.dice_history
    li 
      p This is a list
    li
      p of every roll
    li 
      p that this dice has made
    li 
      p by who
    li 
      p and where at
    li 
      p or maybe it will be
    li 
      p a trade history
    li 
      p que no los dos
  style. 
    ul>li>span{
      float: right;
      text-transform: capitalize;
    }

    .dice_history > li {
      background-color: white;
      color: black;
      margin: 0.5rem;
      padding: 0.5rem;
    }